<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title><%-zi%></title>
</head>

<script type="text/javascript">
  var netType = {
   	"network_type:wifi": "wifi网络",
    "network_type:edge": "非wifi,包含3G/2G",
    "network_type:fail": "网络断开连接",
    "network_type:wwan": "2g或者3g"
  };

  document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
			//WeixinJSBridge.call('hideOptionMenu');
			WeixinJSBridge.call('hideToolbar');
			WeixinJSBridge.invoke("getNetworkType",{},function(e) {
      	document.getElementById("wifi").innerText = '你使用的是' + netType[e.err_msg];
      });
		});
</script>
  
  
<body>
  

  <h1><%-zi%></h1>
	<h2>拼音:<%-pinyin%> 五笔:<%-wubi%></h2>
	<h2>笔划:<%-bihua%> 部首:<%-bushou%></h2>
	<h2>注解</h2>  
	<%-jijie%>
	<h2>祥解</h2>
    <% if(xiangjie){ %>  
        <%-xiangjie%>
    <% } %>  
	<hr>	
    <em><strong id="wifi"></strong> by <a href="http://www.mrlong.cn">龙仕云 2014</a></em>  
</body>

</html>