<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title><%-zi%></title>
</head>
<body>
  

  <h1><%-zi%></h1>
	<h2>拼音:<%-pinyin%> 五笔:<%-wubi%></h2>
	<h2>笔划:<%-bihua%> 部首:<%-bushou%></h2>
	<h2>注解</h2>
	<%-jijie%>
	<h2>祥解</h2>
	<%-xiangjie%>
	<hr>
	<% %>
</body>
</html>