<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>使用说明书</title>
</head>
  
<style type="text/css">
   body{
   		background-color:#f0eac4;
   };
</style>
  
  
<body>
    <h3>=====使用说明=====</h3>

      
  <div>
    <hl>1.查生癖字</hl>
    <dl>
      <dt>使用方法：直接录入字</dt>
      <dd>例如：查 “<b>雒</b>” 只要回复这个字就行</dd>
    </dl>
    
    <hl>2.查词组</hl>
    <dl>
      <dt>使用方法：直接你要查的词组</dt>
      <dd>例如：查 “<b>一生一世</b>” ，如库内没有查到，会转向维基百科。</dd>
    </dl>
    
    <hl>3.查英文</hl>
    <dl>
      <dt>使用方法：直接你要英文</dt>
      <dd>例如：查 “<b>help</b>”、"<b>box</b>" 。</dd>
    </dl>
    
    <hl>4.翻译中文为英文</hl>
    <dl>
      <dt>使用方法：fy+你要翻译的中文</dt>
      <dd>例如： “<b>fy字典</b>”、"<b>fy计算机</b>" 。</dd>
    </dl>
    
    
  </div>    
  <footer>  
    <em><strong id="wifi"></strong> 开发者： <a href="http://www.mrlong.cn">龙仕云 2014</a></em>
  </footer>

</body>
</html>