<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title><%-search%></title>
</head>

<script>
  function load(){
    onloaddata();
  };
  
  var onloaddata =function(){		    
        //查找出相类似的内容
        var xmlhttp_same=new XMLHttpRequest();
        xmlhttp_same.onreadystatechange=function(){
        if (xmlhttp_same.readyState==4 )
        {
    		if (xmlhttp_same.status==200){
    		  document.getElementById("content_same").innerHTML="";
              var htmltxt = '';
              var jsonData = JSON.parse(xmlhttp_same.responseText);
              for(var i=0;i<jsonData.query.search.length;i++){
                htmltxt = htmltxt + '<strong><a href="http://zh.m.wikipedia.org/wiki/'+jsonData.query.search[i].title+'">' 
                  + jsonData.query.search[i].title +'</a></strong>' 
                  + '<br><small>' + jsonData.query.search[i].snippet +'</small><p>'; 
              };
              document.getElementById("content_same").innerHTML = '<div>' + htmltxt + '</div>';
    		}
    		else{
    		  document.getElementById("content_same").innerHTML='服务请求出错，代码：' + xmlhttp_same.status;
    		}
    	
    	}
    	else if(xmlhttp_same.readyState==0){
    		document.getElementById("content_same").innerHTML='在正准备数据...';
    	}
    	else if(xmlhttp_same.readyState==1){
    		document.getElementById("content_same").innerHTML='在正发送数据...';
    	}
    	else if(xmlhttp_same.readyState==2){
    		document.getElementById("content_same").innerHTML='在正发送数据完成...';
    	}
    	else if(xmlhttp_same.readyState==3){
    		document.getElementById("content_same").innerHTML='在正接收到数据中...';
    	}  
        };
        xmlhttp_same.open("GET",'/wiki?search=虎跳&idx=2',true);
        xmlhttp_same.send();
  };
  
  document.addEventListener('WeixinJSBridgeReady',onloaddata);

</script>
  
<style type="text/css">
   #header{
   		background-color:#CCCCCC;
   };
</style>  

<body onload="load()"> 
  <div id="header">
     <a href="/jianyi" >建议</a>
  </div>
<b>搜索:<%-search%></b>
</p>
<div id='content_same'><%-content%></div>
</body>
</html>