<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title><%-search%></title>
</head>

<script>
  //function load(){
  //  onloaddata();
  //};
  
  var onloaddata =function(){
		var xmlhttp=new XMLHttpRequest();
		xmlhttp.onreadystatechange=function(){
		if (xmlhttp.readyState==4 )
    	{
    		if (xmlhttp.status==200){
    		  document.getElementById("content").innerHTML=xmlhttp.responseText==''?'亲！维基百科没查找到的内容,\n尝试点<a href="http://wapbaike.baidu.com/item/<%-search%>">百度百科查</a>。':xmlhttp.responseText + '</br><strong>更祥细内容点<a href="http://zh.m.wikipedia.org/wiki/<%-search%>">维基百科</a></strong>';
              //document.getElementById("wikihome").style.display=xmlhttp.responseText==''?"none":"";
            }
    		else{
    		  document.getElementById("content").innerHTML='服务请求出错，代码：' + xmlhttp.status;
    		}
    	
    	}
    	else if(xmlhttp.readyState==0){
          document.getElementById("content").innerHTML='在正准备数据...';
    	}
    	else if(xmlhttp.readyState==1){
    		document.getElementById("content").innerHTML='在正发送数据...';
    	}
    	else if(xmlhttp.readyState==2){
    		document.getElementById("content").innerHTML='在正发送数据完成...';
    	}
    	else if(xmlhttp.readyState==3){
    		document.getElementById("content").innerHTML='在正接收到数据中...';
    	}
		};

		var url = '/wiki?search=<%-search%>&idx=1';
		xmlhttp.open("GET",url,true);
  	    xmlhttp.send();
    
        //查找出相类似的内容
        var xmlhttp_same=new XMLHttpRequest();
        xmlhttp_same.onreadystatechange=function(){
        if (xmlhttp_same.readyState==4 )
        {
    		if (xmlhttp_same.status==200){
    		  document.getElementById("content_same").innerHTML="";
              var htmltxt = '';
              var jsonData = JSON.parse(xmlhttp_same.responseText);
              for(var i=0;i<jsonData.query.search.length;i++){
                htmltxt = htmltxt + '<li><a href="http://zh.m.wikipedia.org/wiki/'+jsonData.query.search[i].title+'">' 
                  + jsonData.query.search[i].title +'</a></li>'; 
              };
              document.getElementById("content_same").innerHTML = '<menu>' + htmltxt + '</menu>';
    		}
    		else{
    		  document.getElementById("content_same").innerHTML='服务请求出错，代码：' + xmlhttp_same.status;
    		}
    	
    	}
    	else if(xmlhttp_same.readyState==0){
    		document.getElementById("content_same").innerHTML='在正准备数据...';
    	}
    	else if(xmlhttp_same.readyState==1){
    		document.getElementById("content_same").innerHTML='在正发送数据...';
    	}
    	else if(xmlhttp_same.readyState==2){
    		document.getElementById("content_same").innerHTML='在正发送数据完成...';
    	}
    	else if(xmlhttp_same.readyState==3){
    		document.getElementById("content_same").innerHTML='在正接收到数据中...';
    	}  
        };
        xmlhttp_same.open("GET",'/wiki?search=<%-search%>&idx=2&srp="1"',true);
        xmlhttp_same.send();
  };
  
  document.addEventListener('WeixinJSBridgeReady',onloaddata);

</script>
  
<style type="text/css">
   #header{
   		background-color:#CCCCCC;
   };
</style>  

<body> 
  <div id="header">
     <a href="/jianyi" >建议</a>
  </div>
  
<p id='content'><%-content%></p>
<b>相似内容:</b>
<small><p id='content_same'><%-content%></p><small>
<hr>
<!--
<div style="text-align:right;">
<strong id='wikihome'>更祥细进入<a href="http://zh.m.wikipedia.org/wiki/<%-search%>">维基百科</a></strong> 
</div>
-->
</body>
</html>