<html>
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title><%-search%></title>
</head>


<bode>
<% if(content) {%>
<%-content%>
<%}else{%>
<p>维基百科内还没有你所查找的内容。</p>
<%}%>

<strong>数据来源于<a href="http://zh.m.wikipedia.org">维基百科</a></strong> 
</bode>
</html>